@import url("./index.css");

.contentCardEvent-eventosSC {
  position: relative;
  width: 45%;
  height: 400px;
  border-radius: var(--spacing-4);
  background: url(/images/660af6d9b027c628039048.jpg) center no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.01);

    &::before {
      background-color: hsl(0, 0%, 0%, 50%);
    }
  }

  .bx-tooltipEvent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-3);

    .txtOutstanding {
      background: var(--gradient-2);
      border-radius: 999px;
      color: var(--dark);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-1);
      padding: 4px var(--spacing-3);
      font-family: var(--fontFk2d);
      font-size: var(--fontSize-9);
      text-transform: uppercase;

      .iconOutstanding {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
      }
    }

    .txtCategory {
      background: var(--colorWhite);
      border-radius: 999px;
      color: var(--dark);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px var(--spacing-3);
      text-transform: uppercase;
      font-size: var(--fontSize-9);
      font-weight: bolder;
    }
  }

  .bx-infoEvent {
    padding: var(--spacing-3);
    border-radius: 0 0 var(--spacing-4) var(--spacing-4);
    background: linear-gradient(0deg, black 0%, transparent 100%);

    .titleEventCard {
      font-size: var(--fontSize-4);
      font-weight: bolder;
      font-family: var(--fontFk2d);
      text-shadow: 0px 0px 8px #000000b3;
    }

    .txt {
      font-size: var(--fontSize-6);
      margin-bottom: var(--spacing-4);
    }

    .bx-check {
      display: flex;
      align-items: center;
      gap: var(--spacing-1);
      font-family: var(--fontFk2d);
      letter-spacing: 1px;

      .check {
        display: flex;
      }
    }
  }
}

.contentCardEventNext-eventosSC {
  width: 45%;
  height: fit-content;
  background-color: var(--darkGrey);
  border-radius: var(--spacing-4);
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: var(--colorGreen);
  }

  .bx-imageEventoNext {
    position: relative;
    width: 100%;
    height: 200px;

    .tooltipTypeEvent {
      position: absolute;
      z-index: 1;
      top: var(--spacing-3);
      right: var(--spacing-3);
      background-color: var(--colorWhite);
      color: var(--dark);
      padding: 4px var(--spacing-3);
      border-radius: 999px;
      font-size: var(--fontSize-9);
      text-transform: uppercase;
      font-weight: bolder;
    }

    .imageEventNext {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--spacing-4) var(--spacing-4) 0 0;
    }
  }

  .bx-infoEventNext {
    padding: var(--spacing-3);

    .content-introductionEvent {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-1);
      margin-bottom: var(--spacing-4);

      .titleEventNext {
        font-size: var(--fontSize-3);
      }

      .txt {
        font-size: var(--fontSize-6);
        letter-spacing: -0.5px;
      }
    }

    .bx-data-event {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-6);

      .dataEvent {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);

        .styleGeneralDataEvent {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: var(--spacing-1);
          font-size: var(--fontSize-7);

          .iconLocation,
          .iconCalendar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
          }
        }
      }

      .bxTagsEvent {
        display: flex;
        align-items: center;
        gap: var(--spacing-2);

        .tagEvent {
          display: flex;
          align-items: center;
          gap: var(--spacing-1);
          border-radius: 999px;
          padding: 3px var(--spacing-3);
          background-color: var(--colorGreen);
          color: var(--dark);
          font-weight: bolder;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: var(--colorYellow);
          }

          .iconTag {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
