@import url(./index.css);

.content__allCarouselPage-eventosSC {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(public/images/pexels-maumascaro-1154189.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background: hsl(272, 57%, 5%, 75%);
    inset: 0;
    clip-path: polygon(0 0, 70% 0, 60% 100%, 0% 100%);
    z-index: -1;
    backdrop-filter: blur(4px);
  }

  .content_introductionEvents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--spacing-8);

    .data {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      margin-bottom: var(--spacing-4);
      font-size: var(--fontSize-5);
      font-weight: 500;

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 999px;
        background: var(--gradient-2);
      }
    }

    .titleEvent {
      width: 16ch;
      font-weight: bolder;
      font-family: var(--fontFk2d);
      font-size: var(--fontSize-1);
      background: var(--gradient-3);
      letter-spacing: 4px;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      line-height: 1.1;
      margin-bottom: var(--spacing-4);
    }

    .txt {
      margin-bottom: var(--spacing-6);
    }

    .bx-CTA-Events {
      display: flex;
      align-items: center;
      gap: var(--spacing-6);

      .tickets {
        border: none;
        background: var(--gradient-2);
        padding: var(--spacing-2) var(--spacing-7);
        border-radius: 999px;
        border: 2px solid var(--colorPink);
        font-size: var(--fontSize-6);
        font-family: var(--fontFJura);
        color: var(--colorWhite);
        font-weight: 600;
        filter: drop-shadow(0px 0px 12px hsl(284, 100%, 91%, 75%));
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(0.95);
        }
      }

      .bx-allEvents {
        display: flex;
        align-items: center;
        font-size: var(--fontSize-6);
        font-weight: 400;
        gap: var(--spacing-2);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        .bx-iconArrowRight {
          display: flex;
          color: var(--colorPink);
        }

        &:hover {
          color: var(--colorPink);
        }
      }
    }
  }

  .bx-controlsCarousel {
    position: absolute;
    bottom: var(--spacing-4);
    right: var(--spacing-8);

    display: flex;
    gap: var(--spacing-2);
    transition: 0.3s ease-in-out;

    .circleControlCarousel {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 999px;
      background-color: var(--colorWhite);
      z-index: 2;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        background: var(--colorPink);
      }
    }

    .imageCarouselActive {
      background: var(--gradient-2);
      transition: 0.3s ease-in-out;
    }
  }
}
