@import url(./index.css);

.content__allHeroPage-eventosSC {
  position: relative;
  height: 70vh;

  .contentCarousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .carouselItem {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.8s ease, transform 0.8s ease;
    }

    .carouselItem.active {
      opacity: 1;
      transform: translateX(0);
      position: relative;
    }

    .carouselItem.hidden {
      opacity: 0;
      pointer-events: none;
    }

    .bx-controlsCarousel {
      position: absolute;
      bottom: var(--spacing-8);
      right: var(--spacing-8);

      display: flex;
      gap: var(--spacing-2);
      transition: 0.3s ease-in-out;

      .circleControlCarousel {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 999px;
        background-color: var(--colorWhite);
        z-index: 2;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          background: var(--colorYellow);
        }
      }

      .imageCarouselActive {
        background: var(--gradient-2);
        transition: 0.3s ease-in-out;
      }
    }
  }
}
