@font-face {
  font-family: "K2D";
  src: url(/fonts/K2D/K2D-Bold.ttf);
}

@font-face {
  font-family: "Jura";
  src: url(/fonts/Jura/Jura-VariableFont_wght.ttf);
}

:root {
  /*Colors*/
  --dark: #0a0a0a;
  --darkGrey: #0e0e0e;
  --colorWhite: #dddae2;
  --colorGreen: #a1ffce;
  --colorYellow: #faffd1;
  --colorLightPurple: #383242;
  --gradient-1: linear-gradient(180deg, var(--darkGrey) 0%, var(--dark) 100%)
    no-repeat;
  --gradient-2: linear-gradient(
    45deg,
    var(--colorGreen) 0%,
    var(--colorYellow) 100%
  );

  --gradient-3: linear-gradient(180deg, #8e9eab 0%, #eef2f3 100%);

  /*Fonts Style*/
  --fontFk2d: "K2D", sans-serif;
  --fontFJura: "Jura", sans-serif;

  --fontSize-1: 52px;
  --fontSize-2: 42px;
  --fontSize-3: 32px;
  --fontSize-4: 24px;
  --fontSize-5: 20px;
  --fontSize-6: 18px;
  --fontSize-7: 16px;
  --fontSize-8: 14px;
  --fontSize-9: 12px;

  /*spacing*/
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 48px;
  --spacing-9: 64px;
  --spacing-10: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--colorWhite);
}

body {
  height: 100%;
  background: var(--dark);
  font-family: var(--fontFJura);
  font-size: var(--fontSize-7);
}

.txt {
  width: 42ch;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: var(--fontSize-5);
}

.txtGradients {
  font-weight: bolder;
  font-family: var(--fontFk2d);
  background: var(--gradient-3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
